.form {
  margin-top: 36px;
  text-align: center;
}

.form label {
  display: inline-block;
}

.form input {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  width: 272px;
  height: 40px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  transition: border-color 250ms linear;
}

.form input:hover {
  border-color: #000;
}

.form input:focus {
  border-color: #4e75ff;
}

.search-btn {
  background-color: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  margin-left: 4px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 250ms linear;
}

.search-btn:hover {
  background-color: #6c8cff;
}
